<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="header" th:fragment="headerFragment">
 		<div id="mainMenu">
			<a id="recentPostBtn" th:href="@{/}">최신 게시글</a> |	   
			<a th:href="@{/(sequence=postView)}">조회수 best</a> |	   
			<a th:href="@{/(sequence=postLike)}">공감수 best</a> | 
			<a th:href="@{/(conditions=chat)}">잡담</a> |	   
			<a th:href="@{/(conditions=hobby)}">취미</a> |	   
			<a th:href="@{/(conditions=horror)}">공포</a>
		 </div>
	</div>
</body>
</html>