<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spaProject.dao.LoginMapper">

	<resultMap type="User" id="userResultMap">
		<result property="userEmail" column="user_email"/>
		<result property="userPw" column="userEmail"/>
		<result property="userName" column="userEmail"/>
		<result property="userRegDate" column="userEmail"/>
	</resultMap>

	<select id="getNickName" parameterType="String" resultType="String">
		SELECT
			user_name
		FROM
			user
		WHERE
			user_email = #{userEmail};
	</select>

	<select id="loginPwCheck" parameterType="String" resultType="String">
		SELECT
			user_pw
		FROM
			user
		WHERE
			user_email = #{userEmail};
	</select>
	
	<select id="loginIdCheck" parameterType="String" resultType="String">
		SELECT
			user_email
		FROM
			user
		WHERE
			user_email = #{userEmail};
	</select>

</mapper> 